/* to style container with class = main */
.main{
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	margin: auto;
	margin-top: 40px;

	/*height: max-content;*/
	/*box-shadow: black;*/
	min-height: 400px;
	max-height: max-content;
	width: 600px;
	padding: 10px;
	background-color: #ebedeb;
	/*flex-grow: 2;*/
	/*border-radius: 5px;*/
}


/* to style container with class = card */
.card {
	/*position: relative;*/
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: row;
	flex-grow: 1;*/	

	/*overflow-wrap: break-word;*/
	min-height: 270px;
	max-height: max-content;
	/*height: max-content;*/
	/*margin-bottom: 100em;*/
	background-color: Black;
	border: 10px #333436;
	border-radius: 5px 5px 0px 0px;
}


/* to style container with class = header */
.header{
	width: 600px;
	height: 80px;
	display: flex;
	border: 2px;
	/*justify-content: center;*/
	/*flex-wrap: wrap;*/
	/*position: fixed;*/
}


/* to style container with id = lower-header */
#lower-header{
	font-size: 13px;
	font-family: sans-serif;
	width: 100%;
	height: 25px;
	color: white;
	background-color: black;
	/*margin-bottom: 10px;*/
}


/* to style container with id = check */
#check{
	font-size: 13px;
	padding: 5px;
	margin-left: 20px;
	/*margin-right: 0px;*/
}


/* to style container with id = lower_header_text */
#lower_header_text{

	/* float will move and keep item on assigned position */
	float: right;

	margin-right: 10px;
}


/* to style input field with id = searchBox */
#searchBox {
	font-size: 18px;
	margin-top: 0.5em;
	margin-left: 0.5em;
	width: 95.2%;
	height: 70%;
	border-color: black;
	border: 0px;
	border-radius: 5px;
	padding-left: 10px;
	background-color: #ebedeb;
}


/* to style submit button with id = submit */
#submit {
	font-size: 15px;
	font-weight: bold;

	/* submit button will overlap searchbox */
	position: absolute;

	margin-top: 1.64em;
	margin-left: 36em;
	padding-bottom: 2.8px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: white;

	/* cursor will change to pointer just like it change on hover the hyperlink */
	cursor: pointer;
}


/* to style submit button with id = submit, on click */
#submit:active{

	/* size will decrease using transform */
	transform: scale(0.8);
}


/* to style container with id = list */
#list{
	
	min-height: 200px;
	max-height: max-content;
	width: 100%;
	background-color: white;
}


/* to style list items of list */
ul li{
	
	list-style: none;
	margin: 2px;
	margin-left: -25px;
	
	background-color: #ebedeb;	
	width: 96%;
	
	/* overflow-wrap will take care that content will always stay in it's parent container */
	overflow-wrap: break-word;

	font-size: 19px;
	font-family: sans-serif;
	padding: 5px 5px 5px 5px;
	border: 1px black;
	border-radius: 5px;
}


/* to style list items of list, on hover */
ul li:hover{
	color: white ! important;
	background-color: black ! important;
}


/* to style radio buttons */
#radio{
	margin-right: 6px;
	margin-bottom: 7px;
	cursor: pointer;
}


/* to style remove button with id = remove */
#remove{

	font-weight: bold;
	padding-bottom: 5px;
	float: right;
	
	margin-top: 2px;
	color: white;
	margin-right: -3.15em;

	border: 2px solid black;
	border-radius: 4px;
	background-color: red;

	cursor: pointer;

}


/* to style remove button with id = remove, on hover */
#remove:hover{
	background-color: red;
	border: 1px;

}

/* to style container with id = footer */
.footer{

	font-size: 13px;
	border: 5px;
	height: 27px;
	width: 100%;
	border-radius: 0px 0px 5px 5px;
	font-family: sans-serif;
	color: white;
	background-color: black;

}


/* to style container with id = footer_stats */
#footer_stats{
	float: left;
	padding: 6px;
	margin-left: 5px;
}

/* to style container with id = footer_filters */
#footer_filters{
	cursor: pointer;
	float: right;
	padding: 6px;
	margin-right: 5px;
}

/* to style container with id = uncomplete */
#uncomplete{
	margin-left: 5px;
	margin-right: 5px;
}

